*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3{
	font-family: 'Arial';
	font-size: 10px;
	letter-spacing: 1px;
	width: 100%;
	background: #2980b9;
	padding: 15px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}


#container{
	background: #5d6d7e;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;


}

#container form{
	background: #FFF;
	width: 500px;
	padding: 10px;
}


#container form img{
	width: 100px ;
	/*height: 100px;*/
	text-align: center;
	display: block;
}

#container form input{
	width: 90% ;
	/*margin: 15px;*/
	padding: 5px;
	font-size:  16pt;
	display:block;
	margin: 25px auto;
	border-radius: 5px;
	border: 1px solid #CCC;
	text-align: center;
}